<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>answer</title>
</head>

<body>
    <main>

        <div>
            dataset:{{dataset}} <br>

            ***********************************************
       </div>

        <div>
             mean:{{mean}} <br>

             ***********************************************
        </div>

        <div> 
            median:{{median}}<br>
            ************************************************
        </div>

        <div>
             mod:{{mod}}<br>
             ***********************************************
        </div>
    </main>
</body>

</html>